<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bm.it.mobile">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application>

        <activity
            android:name=".ui.activity.BMCameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BMGalleryActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".utils.BMGenericFileProvider"
            android:authorities="bm.it.mobile"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>
</manifest>
